.site-nav__link {
    color: currentColor;
    text-decoration: none;
  }
  
  .site-nav__link:hover {
    text-decoration: underline;
  }
  
  .site-nav__link--current {
    color: tomato;
  }

  .active{
    font-size: 24px;
    color: blueviolet;
  }